:root {
  font-family: "Inter", "Arial", "Helvetica", sans-serif;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}
.page {
  margin: 0 auto;
  max-width: calc(1280px - 200px * 2);
  padding: 45px 0 60px;
}

@media screen and (max-width: 596px) {
  .page {
    padding: 28px 0;
  }
}
